.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 20px;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black{
  background-color: #111;
}

.logo{
  position: fixed;
  width: 80px;
  object-fit: contain;
}

/* .avatar{
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
} */

.nav-link{
  margin-left: 20.0vw !important;
  margin: auto;
}

.link{
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 1.0vw;
}

.link:hover{
  color: #e5e5e5;
}
